<div class="hero-unit">
  <h1>Draft Tool</h1>
  <br>
  <p class="lead">
    Draft Tool is an online, interactive cheat sheet for your fantasy football draft.
    We supply the players and their stats, and you customize it. Define your league scoring
    and mark players you have picked, someone else has picked, or maybe you just want to
    keep an eye on. Draft Tool makes your draft day easier!
  </p>
  <br>
  <p>
  <a href="<%= new_user_registration_path %>" class="btn btn-primary btn-large">Sign up</a>
    or
    <a href="<%= new_user_session_path %>" class="btn btn-primary btn-large">Sign in</a>
  </p>
  <iframe src="http://watchespn.com" sandbox="allow-forms allow-scripts allow-same-origin allow-popups" height="600" width="800"></iframe>
</div>
