<div class="center">
  <div class="page-header">
    <h1>Edit League Settings</h1>
    <small><%= link_to 'Back', @team_setting.team %></small>
  </div>

  <div class="hero-unit">
    <%= render 'form' %>
  </div>
</div>
